extends ../extends/base.pug

block vars
	- var mailName = "mail-example"
	- var mailTitle = "Mail Example"

block container
	.header
		.wrapper.
			Mail Header

	.content
		.wrapper.
			Mail Content

	.footer
		.wrapper.
			Footer Content
